<!DOCTYPE html>
<html>
<head>
    <title>Recipes</title>
    <link rel="stylesheet" href="style.css">

    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
    <script src="/recipeCardTemplate.js" charset="utf-8" defer></script>
    <script src="/index.js" charset="utf-8" defer></script>
</head>

<body>
    <header>

        <h1 class="title"><a href="#top">Recipes</a></h1>

    </header>

    {{{body}}}

</body>

</html>